<%- include("include/header")%>


    <div class="container-fluid" style="padding-left:20%;">
      <div class="row terms-and-conditions-section">
        <div class="col-xs-12 text-center">
          <h1 class="title pt-5" style="padding-right:180px;">Terms and Conditions</h1>
        </div>

        <div class="col-xs-12 col-sm-10">
          <div class="content">
            <p>
             Welcome to Mudaris.com
			 </p>
            <p>
              These terms and conditions outline the rules and regulations for the use of Mudaris.com
			  </p>
            <p>
              By accessing this website, we assume you accept these terms and conditions.
			  </p>
            <p>
              Do not continue to use this website if you do not agree to take all of the terms and conditions stated on this page.
			</p>

            <h2 class="section-title">Introduction</h2>
            <p>
              Mudaris.com is a platform created for tutors to reach more students. Also, for students
			  to reach to tutors when in need.
			 </p>
            
              <h3 class="section-title">Terms of use</h3>
			  <h5 class="section-title">For tutors:</h5>
            <ul>
              <li>
                Must be 18 and older to become a tutor
				</li>
              <li>
                You agree that we can call you and interview at any time without prior notice
				</li>
              <li>
                You agree that Mudaris.com will not interfere when there is a dispute among a
				tutor and a student
				</li>
              <li>
                You agree that all the information you provide about yourself while signing up is
				100% truthful and accurate.
				</li>
				<li>
                You agree to use this website with full honesty
				</li>
              <li>
                You agree that you have read the terms and conditions
				</li>
            </ul>
			<h5 class="section-title">For students:</h5>
            <ul>
              <li>
                You agree that your intentions on using this website is to find a tutor to help you
				on a certain academic subject.
				</li>
              <li>
                You agree that Mudaris.com will not interfere when there is a dispute among a
				tutor and a student
				</li>
              <li>
                You agree that all the information you provide about yourself while signing up is
				100% truthful and accurate.
				</li>
              
				<li>
                You agree to use this website with full honesty</li>
              <li>
                You agree to pay the tutor once the lesson is done.
				</li>
            </ul>

            <h2 class="section-title">Safety</h2>
            <p>
              By agreeing on terms and conditions, you agree that Mudaris.com will not interfere in
				any dispute that occurs among a tutor and a student.
				</p>
            <p>
              Also, you agree that Mudaris.com
			will not be held responsible to any lost data that belong to a tutor or a student.
			</p>
			<p>
			Mudaris.com has the right to dismantle or ban your account at any time with no
			reason whatsoever.
			</p>


          </div>
        </div>
      </div>
    </div>
	
	<%- include("include/footer")%>