
<div class="footer-dark" id="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="/terms">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="https://www.psu.edu.sa">Prince sultan university</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Mudaris</h3>
                    <p>Mudaris is a project created by SE371 Students from Prince Sultan University. <br>
                    The creators of this website are the following students: <br>AlJohara Al Saud, Jood Bajouda and 
                    Jawahir Al Otaibi</p>
                </div>
                <div class="col item social">
                <a href="http://twitter.com"><i class="fa fa-twitter" style="font-size: 30px; color:rgb(0,68,129);"></i></a>
                <a href="http://instagram.com"><i class="fa fa-instagram" style="font-size: 30px; color:rgb(0,68,129);"></i></a></div>
            </div>
            
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>